body {
	margin-top: 30px;
	padding-left: 20px;
}

h2 {
	color: #0000ff;
}

p {
	font-style: normal;
	font-family: sans-serif;
	font-size: 15px;
	color: #434dc5;
}

input[type=button] {
	background-color: #4CAF50;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 30px 10px;
	cursor: pointer;
}

.btn1 {
	margin-top: 30px;
}

.locationIcon {
	background-image: url("../image/locationIcon.png");
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: left;
}

.errMsgdiv {
	background-image: url("../image/errorIcon.png");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: left
}

.errMsg {
	color: #000000;
	margin-left: 20px;
}

table {
	margin-top: 20px;
	width: 95%;
}

.button:hover {
	border-color: #06330540;
	border-style: solid;
	color: white;
}

label {
	font-style: normal;
	font-family: arial;
	font-size: 15px;
}

input[type=text] {
	border-radius: 8px;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.distanceTimediv {
	margin-top: 20px;
	font-style: normal;
	font-family: arial;
	font-size: 15px;
	font-weight: 550;
}

input[type=text]:focus {
	border: 3px solid #555;
}

.loadingImage {
	width: 300px;
	height: 300px;
}

.locationDiv {
	width: 25%;
	float: left;
}

.mapDiv {
	float: right;
	width: 75%;
}

#map {
	position: relative;
	overflow: visible;
}

@media only screen and (min-width: 768px) and (max-width: 1029px) {
	.locationDiv {
		width: 40%;
	}
	.mapDiv {
		width: 60%;
	}
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
	.locationDiv {
		width: 100%;
	}
	.mapDiv {
		width: 100%;
	}
}